
.position-sticky{
  position: sticky;
  top: 0;
  z-index: 800;
}

.text-center{
  background-color: black;
  margin-top: 80px;
}

.header{
  background-color: black;
  height: 80px;

}

.logo-div{
  display: flex;
  justify-content: center;
  margin-top: -80px;
}

.top-matter{
  transform: scale(.7);

}

.left-items{
  display: flex;
  justify-content: left;
  margin-top: 0px;

}

.right-items{
  display: flex;
  justify-content: right;
  margin-top: -80px;
}

.headline{
  font-family: bodoni-urw, serif;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  margin-top: 80px;
  text-align: center;
  color: white;
  background-color: black;
}

h2{
  font-family: bodoni-urw, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  color: white;
  background-color: black;
}

h3{
  font-family: bodoni-urw, serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  background-color: black;
}

.main-text{
  text-align: left;
  font-family: lora,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.thumbsClass{
  filter: grayscale(90%);
}

#thumbs{
  position: absolute;
  margin-top: -7191px;
  z-index: -999;
}

#tableId{
    background-color: white;

}

.tableClass{
  max-width: 400px;
}

p{
  background-color: black;
  color: white;
  z-index: 1999;
  padding: 10px;

}

#chart3{
  background-color: white;

}

#chart4{
  background-color: white;
}

.tableBox{
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

h4{
  margin-top: 50px;
  font-family: bodoni-urw, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

h5{
  font-family: bodoni-urw, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  color: black;
}
